*{
    margin: 0;
     padding: 0;
  
 }
 html{
overflow-x: hidden;
 }
 body{
     box-sizing: border-box;
    font-family: 'inter';
    background-repeat: no-repeat;
   background-position-x: center;
   background-size: 1540px;
   overflow-x: hidden;
   padding-left: 10px;
   padding-right: 10px;

 }
 .header{
 box-sizing: border-box;
 position: relative;
 display: flex;
 align-items: center;
 padding: 16px 32px;
justify-content: space-between;
 height: 84px;
 max-width: 80rem;
 margin: 30px auto;
 background-color: #F2F4F7;
 border: 1px solid #D0D5DD;
 border-radius: 100px;
 flex: none;
 order: 0;
 flex-grow: 0;

 }


 .icon--top{
    color: #344054;
    cursor: pointer;
 }
 .header li{
    cursor: pointer;
 }
 #menu--icon,
#menu--icon1{
    width: 2rem;
    height: 2rem;
    padding: 9px;
    color: rgb(255, 255, 255);
   background-color: #175CD3;
    border-radius: 100px;
 
}
.logo img{
   
    cursor: pointer;
 }
.show--1{
    display: flex;
 align-items: center;
justify-content: center;
padding: 20px;
    gap: 30px;
}
.ul--header{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
   color: aliceblue;
background-color: lightgray;
    display: none;
    flex-direction: column;
    z-index: 7;
gap: 30px;
    align-items: center;
    padding: 20px;
    padding-left: 10px;
}

.hide--button{
display:none;
}
 .row--reverse{
    display: flex;
    gap: 150px;

 }
 

 .ul--header a{
     text-decoration: none;
     color: black;
 }
 .ul--header li{
     list-style: none;
 }
 
 #dropdown{
     background-color: transparent;
     border: none;
     display: flex;
     gap: 200px;
 }
 
 .button--header{
     display: flex;
     gap: 10px;
 }
 .button--1{
     border:none;
     background-color: white;
 box-sizing: border-box;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 14px 24px;
 gap: 4px;
 width: 144px;
 height: 52px;
 background: #FFFFFF;
 border: 1px solid #98A2B3;
 box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
 border-radius: 100px;
 flex: none;
 order: 0;
 flex-grow: 0;
 cursor: pointer;
 transition: all 0.7s;
 
 }
 .button--1:hover{
color: #ffffff;
background-color: #175CD3;
transform: translateX(5px);
 }
 .button--2:hover{
    transform: translateX(5px);  
color: #101828;
background-color: white;
border: 1px solid rgb(209, 199, 199);
 }
 .button--2{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 14px 24px;
 gap: 4px;
 width: 167px;
 height: 52px;
 background: #175CD3;
 box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
 border-radius: 100px;
 flex: none;
 order: 1;
 flex-grow: 0;
 border: none;
 color: white;
 cursor: pointer;
 transition: all 0.7s;
 }

 
 .image--right img{
     width: 153.59px;
 height: 153.59px;
 cursor: pointer;
 transition: all 0.5s;
 
 }
 .show--1 a{
    text-decoration: none;
   color: #1D2939;
font-family: Inter;
font-size: 13px;
font-weight: 600;



 }
 ul li{
    
 }
 .ul--header li select option a{
    columns: #667085;
    font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 28px;
 }
 
 .image--right img:hover{
  
    transform: translateX(5px);
 }
 .image--right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
   
 }
 .image1{
     background-color:#FF9C66;
     border-radius: 12px;  
 }
 .image2{
     background-color:#D6BBFB;
     border-radius: 12px;
 }
 .image3{
     background-color:#ACDC79;
     border-radius: 12px;
 }
 .image4{
     background-color:#B3B8DB;
     border-radius: 12px;
 }
 .image5{
     background-color:#FEC84B;
     border-radius: 12px;
 }
 .image6{
     background-color:#FEA3B4;
     border-radius: 12px;
 }

 .all{


 }
.image-2{
    margin-left:20px;
  
}
 .image-2 img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #D1E9FF;
    margin-left: -20px;
    cursor: pointer;
    transition: all 0.8s;
    border-left: 2px solid rgb(219, 211, 211);
    
 }
 .image-2 img:hover{
    width:50px;
    height: 50px;
    transform: translateX(2px);
 }
 .section--1{
    max-width: 79rem;
    margin: 0 auto;
    display: flex;
    margin-top: 137px;
  
 gap: 100px;
 }
 .icon--right{
    display: flex;
    gap: 10px;

 }
 .icon--all1{
 width: 20px;
 height: 20px;
 color: #175CD3;
 cursor: pointer;

  
  
 }
 .icon-box{
border-radius: 20px;
width: 44px;
height: 44px;
background-color: #ffffff;
display: flex;
justify-content: center;
align-items: center;


 }
 .section1--right{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFF8FF;
    gap: 40px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0px 32px 64px -12px #10182824;

 }
 .section1--left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 780px;
height: 472px;
gap: 48px;
opacity: 0px;

 }
 .para-1 p{
    font-family: Inter;
font-size: 64px;
font-weight: 600;
line-height: 72px;
letter-spacing: -0.02em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

 }
.para-2 p{
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 32px;
text-align: left;
}
.para-all{
display: flex;
flex-direction: column;
gap: 20px;


}
.button-2{
    width: Hug (221px)px;
height: Hug (60px)px;
padding: 16px 28px 16px 28px;
border-radius: 100px;
background-color: #175CD3;
color: white;
border: none;
cursor: pointer;
transition: all 0.7s;
}
.button-2:hover{
    background-color: rgb(238, 231, 231);
    color: #101828;
    transform: translateX(5px);
}
.middle-2{
    display: flex;
    gap: 20px;
}
.button--word{
   display: flex;
   gap: 20px;
   align-items: center;
}
.button--word p{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
   color: #175CD3;
   cursor: pointer;
   transition: all 0.7s;
    
}
.button--word p:hover{
  transform: translateX(5px);
  text-decoration: underline;
}
.last-2{
    display: flex;
   gap: 80px;
}
.icon--left{
    color: #ACDC79;
    width: 20px;
    height: 20px;
}
.star--all{
    display: flex;
   gap: 5px;
}
.star--all p{
font-family: Inter;
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;
color: #344054;
}
.p-star{

font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
color: #475467;
}
.section--2{
max-width: 74rem;
margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.section--2 p{
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 30px;
text-align: center;
color: #475467;

}
.logos{
  
    display: flex;
    gap: 60px;

    
}
.logos img{
    width: 150px;
    height: 30px;
    cursor: pointer;
}

.section--3{
    max-width: 79rem;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;


}
.section--3 p:first-child{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #175CD3; 
}
.section--3 p:nth-child(2){
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: left;
 color: #1D2939;
    
}
.section--3 p:last-child{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
  color: #667085;
 max-width:600px;
  
}

.section--4{
    max-width: 79rem;
    margin: 0 auto;
    display: flex;
gap: 50px;
  margin-bottom: 100px;
}
.image--grid img{
    width: 544px;
height: 527px;
cursor: pointer;


}
.right-section4 svg{
    position: absolute;
    bottom: 95%;
    left: 10%;
}
.right-section4{
    position: relative;
}
.left-section4{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
}
.icon--section4 {
    color: #175CD3;
    width: 24px;
    height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image{
    background-color: #175CD3;
    width: 100px;
    border-radius: 100px;
}
.icon--all{
    width:56px;
    height: 56px;
    border-radius: 100px;
    background-color:#F9FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(226, 225, 225);
}
.left--grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.paragraph--4{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.paragraph--4 p:first-child{
   
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    
}
.paragraph--4 p:last-child{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;   
}
.section--5{
max-width: 79rem;
margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
    gap:60px
}
.section--5--all{
    background-color: #F9FAFB;
    padding: 50px;
}
.user img{
    width: 56px;
    height: 56px;
    border-radius: 100px;
    background-color: #D1E9FF;
}
.image{
    width: 112.79px;
height: 32px;
}
.para--big{
    font-family: Inter;
font-size: 44px;
font-weight: 500;
line-height: 60px;
letter-spacing: -0.02em;
text-align: left;
color: #101828;

}
.user-description{
    display: flex;
   gap: 80px;
}
.user{
    display: flex;
    align-items: center;
    gap: 15px;
}
.section5--right {
    background-color: #F9FAFB;
}
.user--para p:first-child{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #101828; 
    
}
.user--para p:last-child{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #475467;
}
.icon--user{
    display: flex;
    gap: 30px;
}
.arrow--left{
    background-color: #ffffff;
    border: 1px solid rgb(248, 230, 230);
    width: 56px;
    height: 56px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.arrow--left:hover{
    background-color: #175CD3;
}
.icon--arrow{
    color: #175CD3;
    cursor: pointer;
  
}
.icon--arrow:hover{
    color: white;
}
.section5--left{
    display: flex;
    flex-direction: column;
    gap: 39px;
}

    .section--6{
        max-width: 79rem;
        margin: 0 auto;
        display: flex;
        gap: 30px;
        margin-bottom: 100px;
        margin-top: 50px;
    }

    .section6--left{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .section6--left p:first-child{
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        text-align: left;
        color: #175CD3;
    }
    .section6--left p:nth-child(2){   
font-family: Inter;
font-size: 48px;
font-weight: 600;
line-height: 60px;
letter-spacing: -0.02em;
text-align: left;
color: #1D2939;
    }
    .section6--left p:last-child{
    
font-family: Inter;
font-size: 15px;
font-weight: 500;
line-height: 32px;
text-align: left;

color: #667085;
    }
    .first--faq{
        display: flex;
        background-color: #F9FAFB;
        padding: 32px;
    }
    .para--faq{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .para--faq p:first-child{
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: left;
        color: #101828;   
    }
    .para--faq p:last-child{
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        color: #475467;
    }
    .icon--faq{
        color: #175CD3;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    .all--faq{
        padding: 32px;
        display: flex;
        justify-content: space-between;
    }
    u{
        cursor: pointer;
    }
    .all--faq p{
color: #101828;
font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: left;

    }
    .section--7{
        max-width: 79rem;
        margin: 0 auto;
        display: flex;
        margin-bottom: 100px;
    }
    .section7--left{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .section7--right img{
        width: 704px;
height: 505px;
gap: 32px;

    }
    .para--7{
font-family: Inter;
font-size: 48px;
font-weight: 600;
line-height: 60px;
letter-spacing: -0.02em;
text-align: left;
    }
    .icon--7{
        width: 28px;
        color: #175CD3;
        height: 28px;
    }
    .ul p{
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 32px;
text-align: left;
color: #475467;
    }
    .ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    ul li{
        list-style: none;
        display: flex;
        gap: 10px;
    }
    .button7--1{
        width: Hug (144px)px;
height: Hug (52px)px;
padding: 14px 24px 14px 24px;
border: 1px solid rgb(192, 173, 173);
background-color: white;
border-radius: 100px;
color: #101828;
cursor: pointer;
transition: all 0.8s;

    }
    .button7--1:hover{
        background-color: #175CD3;
        color: white;
        
    }
    .button7--2{
border-radius: 100px;
border: none;
background-color: #175CD3;
color: white;
padding: 14px 24px 14px 24px;
cursor: pointer;
transition: all 0.8s;

    }
    .button7--2:hover{
        background-color: rgb(238, 228, 228);
        color: #175CD3;
        transform: translateX(5px);
    }
    .section--last{
        max-width: 79rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    .about{
      
       
    }
    .about p{
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 28px;
text-align: left;
color: #475467;
width: 400px;
height: 84px;
gap: 0px;
opacity: 0px;
padding-top: 20px;

    }
    .last--all a{
        text-decoration: none;
        color: #475467;
        transition: all 0.5s;
    }
    .last--all a:hover{
      transform: translateX(10px);
      color: #175CD3;
    }
    .last--all ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .last--all a:first-child{
        color: #667085;
    }
    .last--right{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .last--right img{
        cursor: pointer;
    }
    .footer{
        max-width: 79rem;
        margin: 0 auto;
       
        display: flex;
        justify-content: space-between;
    
    }
    .footer--all{
        background-color: #F9FAFB;
    
        padding: 30px;
    }
    .footer p{
color: #667085;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
    }
    .icon--footer{
        display: flex;
        gap: 24px;
    }
    .icon-footer{
        width: 24px;
        height: 24px;
        color: #98A2B3;
        cursor: pointer;
    }
    .icon-footer:hover{
        color: #175CD3;
        transition: all 0.7s;
    }